/* General Page Styling */
body {
    font-family: 'Avenir', sans-serif;
    background-color: #fefdfb;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #001f3f;
}

header {
    text-align: center;
    padding: 20px;
    width: 100%;
}

header h1 {
    font-size: 2em;
    margin: 0;
    font-weight: 400;
}

/* SVG and Curve Container Styling */
.curve-container {
    position: relative;
    width: 90%;
    max-width: 1000px;
    margin-top: 10px;
    margin-bottom: 20px;
}

svg {
    width: 100%;
    height: auto;
    max-width: 1000px; /* Prevents scaling issues */
    max-height: 500px; /* Ensures aspect ratio is respected */
}


.line {
    stroke: #001f3f;
    stroke-width: 1;
}

.line-text {
    font-size: 14px;
    fill: #001f3f;
    text-anchor: middle;
    cursor: pointer;
}

/* Introduction and Conclusion Links Styling */
.intro-link,
.conclusion-link {
    position: absolute;
    font-size: 1em;
    text-decoration: none;
    color: #001f3f;
    font-weight: bold;
}

.intro-link {
    left: 8px;
    bottom: 30px;
}

.conclusion-link {
    right: 8px;
    bottom: 30px;
}
